commands:
  01_storage_permission:
    command: "sudo chmod -R 775 /var/app/current/storage /var/app/current/bootstrap/cache"
  02_storage_owner:
    command: "sudo chown -R webapp:webapp /var/app/current/storage /var/app/current/bootstrap/cache"
  03_install_dependencies:
    command: "cd /var/app/current && composer install --no-dev --optimize-autoloader"
  04_migrate:
    command: "cd /var/app/current && php artisan migrate --force"
    leader_only: true
  05_cache_clear:
    command: "cd /var/app/current && php artisan optimize:clear"
  06_cache_config:
    command: "cd /var/app/current && php artisan config:cache"
  07_cache_route:
    command: "cd /var/app/current && php artisan route:cache"
  08_cache_view:
    command: "cd /var/app/current && php artisan view:cache"
